#demo1{
    border: 2px solid;
    height: 250px;
    /* background-image: linear-gradient(red,green,blue,crimson); */
    /* background-image: linear-gradient(to right,red,green,blue,crimson); */
    /* background-image: linear-gradient(to left,red,green,blue,crimson); */
    /* background-image: linear-gradient(to top, red,green,blue,crimson); */
    background-image: linear-gradient(to bottom,red,green,blue,crimson);

}
#demo2{
    border: 2px solid;
    height: 250px;
    background-image: radial-gradient(red,green,blue,yellow);


}
#demo3{
    border: 2px solid;
    height: 250px;
    width: 250px;
    background-image: radial-gradient(circle,red,purple,yellow,red);

}
#demo4{
    border: 2px solid;
    height: 250px;
    width: 250px;
    background-image: radial-gradient(circle farthest-corner at 60% 60%,red,purple,yellow,red);
}
#demo5{
    border: 2px solid;
    height: 250px;
    width: 250px;
    background-image: radial-gradient(circle closest-corner at 60% 60%,red,purple,yellow,red);
}
#demo6{
    border: 2px solid;
    height: 250px;
    width: 250px;
    background-image: radial-gradient(circle farthest-side at 60% 60%,red,purple,yellow,red);
}
#demo7{
    border: 2px solid;
    height: 250px;
    width: 250px;
    background-image: radial-gradient(circle closest-side at 60% 60%,red,purple,yellow,red);
}
#demo8{
    border: 2px solid;
    height: 250px;
    width: 250px;
    background-image: conic-gradient(red,green,blue,yellow)
}
#demo9{
    border: 2px solid;
    height: 50vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7)
     url(https://cdn.pixabay.com/photo/2024/03/26/15/12/sunset-8657085_1280.jpg));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

