:root{
    --text-color:red;
    --bg-color1:blue;
    --bg-color2:black;
    --font-family:'Courier New', Courier, monospace;
}

#demo{
    /* margin: 500px; */
    border: 2px solid;
    height: 300px;
    width: 300px;
    animation-name: demo1;
    animation-duration: 3s;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    /* animation-delay: 5s; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: both; */
    
}
@keyframes demo1 {
    0%{
        background-color: red;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    50%{
        background-color: yellow;
        position: absolute;
        left:400px;
        top: 400px;
        transform: rotate(360deg);

    }
    75%{    
        background-color: blue;
        position: absolute;
        left: 0px;
        top: 400px;
        transform: rotate(90deg);
    }
    100%{
        background-color: crimson;
        position: absolute;
        top: 0px;
        left: 0px;
        transform: rotate(120deg);

    }
    
}
#demo2{
    color: var(--text-color);
}

#demo3{
    color: var(--bg-color2);
}


